{% extends 'index.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% load static%}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}

<form action="{% url 'signin' %}" method="post" class="login-form">
{% csrf_token %}
    {% if Newusermsg %}<p>{{Newusermsg}}</p>{% endif %}
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="enter your email">
    
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="enter your password">
    <button type="submit">signin</button>
    <a>forget password?</a>
</form>

{% endblock content %}