<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}

    Name: <input type="text" name="name" placeholder="enter your name"><br>
    Email: <input type="email" name="email" placeholder="enter your email"><br>
    {{Emailmsg}}<br>
    Password: <input type="password" name="password" placeholder="enter string password"><br>
    ConfirmPassword: <input type="password" name="confirmpassword" placeholder="confirm-password"><br>
    {{Passmsg}}
    <br>
    <button type=" submit" name="signup">sign-up</button>

</form>