
{% block content %}
<form action="{% url 'add_emp' %}" method="post">
    {% csrf_token %}
    Employee Name: <input type="text" name="emp_name" placeholder="enter employee name"><br><br>
   
    {{EmpEmailmsg}}
    <br>
    Employee Email: <input type="email" name="emp_email" placeholder="enter employee email"><br><br>
    {{EmpUsernamemsg}}
    <br>
    Employee username : <input type="text" name="emp_username" placeholder="enter employee username"><br><br>
    Employee Password : <input type="password" name="emp_password" placeholder="enter employee password"><br><br>
    <button type="submit" name="add_emp" value="">Add Employee</button>
</form>
{% endblock content %}