{% extends 'index.html' %}
{% block title %}
  <title>Reset Password</title>
{% endblock title %}

{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
<form method="post" action="{% url 'reset' %}">
    {% csrf_token %}
    
    {% if successResetmsg %}<p style="color: green;">{{successResetmsg}}</p>{% endif %}
   
    {% if passMatchmsg %}<p>{{passMatchmsg}}</p>{% endif %}

    {% if invalidOTPmsg %}<p>{{invalidOTPmsg}}</p>{% endif %}

    {% if userExitmsg %}<p>{{userExitmsg}}</p>{% endif %}
    
    <label>Enter OTP</label>
    <input type="number" name="v_otp" placeholder="enter OTP">
    
    <label for="exampleInputPassword1">New Password</label>
    <input type="password" name="new_pass" placeholder="Password">
 
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" name="c_pass" placeholder="Password">
    
    <button type="submit">Reset Password</button>
</form>
{% endblock content %}